/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
 
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
  }
  
  .logo {
    font-size: 1.5rem;
    color: #ff9900;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
  }
  
  .nav li {
    margin-right: 1rem;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Hero Section */
  .hero {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 5rem 0;
  }
  
  .hero-content {
    max-width: 800px;
    margin: 0 auto;
  }
  .hero-content h2
  {
    margin-top: 0;
    margin-bottom: 50px;
  }
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #ff9900;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  /* Featured Products Section */
  .featured-products {
    text-align: center;
    padding: 3rem 0;
  }
  
  .product {
    margin: 1.5rem;
  }
  
  .product img {
    max-width: 100%;
  }
  
  .price {
    color: #e20f0f;
    font-size: x-large;
  }
  
  /* Footer */
  .footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
  }
  .product img
  {
    height: 250px;
  }
  .featured-products
  {
    display: flex;
    justify-content: space-around;
  }
  .head{
    text-align: center;
  }